/*Form styling*/
.BDForm {
  display: grid;
  margin-right: 0;
}

/*Labels*/
label {
  font-size: 1.2rem;
  color: hsl(0, 1%, 44%);
  margin-top: 1rem;
}

#dayL {
  grid-column: 1/2;
  grid-row: 1/2;
  }

#monthL {
  grid-column: 2/3;
  grid-row: 1/2;
}

#yearL {
  grid-column: 3/4;
  grid-row: 1/2;
}

input {
  font-size: 2.9rem;
  font-family: 'Poppins', sans-serif;
  width: 70%;
  height: auto;
  border-radius: 5%;
  border: 1px gray;
  border-style:groove;
}


#iDay {
  grid-column: 1/2;
  grid-row: 2/3;

}

#iMonth {
  grid-column: 2/3;
  grid-row: 2/3;
}

#iYear{
  grid-column: 3/4;
  grid-row: 2/3;
}

.invalidDay, .invalidMonth, .invalidYear, 
.requiredDay, .requiredMonth, .requiredYear, 
.dayD, .dayR, .monthD, .monthR,
.yearD, .yearR  {
  color: hsl(0, 100%, 67%);
}

input.invalidDay, input.invalidMonth, input.invalidYear,
input.requiredDay, input.requiredMonth, input.requiredYear {
  border-color: hsl(0, 100%, 67%);
}



.dayD {
  grid-column: 1/2;
  grid-row: 3/4;
  font-size: .9rem;
  font-style: italic;
}

.monthD {
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: .9rem;
  font-style: italic;
}

.yearD {
  grid-column: 3/4;
  grid-row: 3/4;
  font-size: .9rem;
  font-style: italic;
}

.dayR {
  grid-column: 1/2;
  grid-row: 3/4;
  font-size: .9rem;
  font-style: italic;
}

.monthR {
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: .9rem;
  font-style: italic;
}

.yearR {
  grid-column: 3/4;
  grid-row: 3/4;
  font-size: .9rem;
  font-style: italic;
}

hr {
  grid-column: 1/5;
  grid-row: 3/4;
  align-self: center;
  
}

button {
  border-radius: 50%;
  grid-column: 4/5;
  grid-row: 3/4;
  height: auto;
  background-color: hsl(259, 100%, 65%);
  border: none;
  padding: 1.4rem;
  
}

button:hover {
  background-color: hsl(0, 0%, 8%);
}

img {
  width: 85%;
  height: 85%;
}


input:hover {
  border-color: hsl(259, 100%, 65%);
}

input:focus {
  border-color: hsl(259, 100%, 65%);
  outline: none;
}



div {
  height: .5rem;
}




@media only screen and (max-width: 375px),
only screen and (max-width: 720px) {
  input {
    width: 85%
  }

  hr {
    grid-row: 4/3;
    margin-top: 3.5rem;
  }

  button {
    margin-top: 3.5rem;
    grid-column:2/3;
    grid-row: 4/3;
    width: 6.4rem;
    height: 6.4rem;
    justify-self: center;
  }

  img {
    width: 65%;
    height: 65%;
    padding: 0;
  }

  .dayD {
    font-size: .8rem;
  }
  
  .monthD {
    font-size: .8rem;
  }
  
  .yearD {
    font-size: .8rem;
  }
  
  .dayR {
    font-size: .8rem;
  }
  
  .monthR {
    font-size: .8rem;
  }
  
  .yearR {
    font-size: .8rem;
  }
}
