@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
html { 
  font-size:62.5%; 
  
  }

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(0, 0%, 86%);
 }

 main {
  padding: 2.5rem;
  padding-right: 3rem;
  width: 55rem;
  font-size: 3.2rem;  
  margin: auto;
  background-color: white;
  border-bottom-right-radius: 35%;
  border-top-right-radius: 3%;
  border-bottom-left-radius: 3%;
  border-top-left-radius: 3%;
  display: grid;
  grid-template-columns: 1fr;

}

#form {
  grid-column: 1/5;
  grid-row: 1/4;
}




span {
  color: hsl(259, 100%, 65%);
}

.output-year {
  grid-column: 1/4;
  grid-row: 4/5;
  font-weight: bold;
  font-style: italic;
}

.output-month {
  grid-column: 1/4;
  grid-row: 5/6;
  font-weight: bold;
  font-style: italic;
}


.output-day {
  grid-column: 1/4;
  grid-row: 6/7;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1.2rem;
}

@media only screen and (max-width: 375px),
only screen and (max-width: 720px) {
  main {
    width: 100%;
    margin: 1.2rem;
    height: auto;
    font-size: 2.4rem; 
    border-bottom-right-radius: 21%;
  }
}

